*{
    margin: 0;
    padding: 0;
}

/* common styles */
body{
    max-width: 1440px;
    margin: 30px auto;
}
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}

.text-center{
    text-align: center;
}

/* header style start */
header{
    background-image: url(./Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header nav li{
    list-style: none;
}
header nav li a{
    text-decoration: none;
}
.header-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}
nav{
    padding: 50px 150px 0px;
}
.nav-text{
    font-size: 65px;
    font-weight: 700;
}
.navtext-area{
    padding: 150px 200px ;
}
.stay-focused-margin{
    margin-top: 40px;
}

/* hero start */
.hero{
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-title{
    font-size: 45px;
    font-weight: 800;
}
.hero-discription{
    font-size: 24px;
    color: #252432;
    margin: 23px 0;
    /* width: 50%; */
}
.hero img{
    /* width: 50%; */
    height: 328px;
    border-radius: 48px;
}

/* herotwostart */

.herotwotitle{
    color: #252432;
    font-size: 38px;
    font-weight: 800;
}
.herotwo{
    background-color: #d6d6ff;
    border-radius: 24px;
}

.herotwonumbers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px;
}
.herotwonumbers h1{
    font-size: 80px;
    color:#4E47FF ;
  font-family: "Inder", sans-serif;
  font-weight: 800;
  font-style: normal;

}
.herotwonumbers p{
    color: #000000;
    font-size: 20px;
    font-family: "Inder", sans-serif;
  /* font-weight: 800; */
  font-style: normal;
}

.herotwopadding{
    padding: 50px 140px;
}

/* user review start */
.user-review-title{
    font-weight: 800;
    font-size: 42px;
    color: #252432;
    margin: 80px 0 30px 0px;
}

.review-card{
    display: flex;
    gap: 20px;
    width: 100%;
    
}

.reviewone{
    background-color: #faf2f2;
    border-radius: 24px;
    width: 25%;
    /* padding: 30px 20x 20x 20px; */
    padding: 24px 24px;
}

.reviewers-info{
    display: flex;
    gap: 10px;
    align-items: center;
}

.reviewers-info img{
    border-radius: 50%;
}

.reviewone h4{
    margin: 10px 0px;
    color: #252432;
    font-size: 20px;
}

.review-description{
    color: #252432;
    font-size: 16px;
    margin-bottom: 15px;
}

/* focus better start */
.focus-better-title{
    font-weight: 800;
    font-size: 50px;
    color: #252432;
    padding-top: 40px;
}

.focus-better{
    background-color: #faf2f2;
    margin: 50px 0px;
}

.focus-better-description{
    color: #000000;
    margin: 22px 0px;
}

.focus-img{
    margin-top: 30px;
    /* padding: 0px 0px 50px 0px; */
    border-radius: 50px;
}

.focus-padding{
    padding-bottom: 50px;
}

/* get in touch start */
.get-touch{
    margin: 50px 0px 40px 0px;
}

.tocuh-title{
    font-weight: 800;
    font-size: 90px;
}